body, html {
    height: 100%;
 }

#welcome {
    background-image: url("../images/nyc4.jpg");
    height: 729px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 #aboutCard {
     display: none;
 }

 #contactCard {
     display: none;
 }

 #contactUl {
     color: black;
     font-weight: bold;
 }

 #contactUl a {
     color: black
 }
 #exitBtn {
     background-color: blue;
 }